src/m03soa/5_wsdl.xml

<definitions name=“PrecioProd“
    targetNamespace="http://example.com/stockquote.wsdl"
    xmlns:tns="http://example.com/stockquote.wsdl"
    xmlns:xsd1="http://example.com/stockquote.xsd"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema targetNamespace="http://example.com/stockquote.xsd"
        xmlns="http://www.w3.org/2000/10/XMLSchema">
      <element name="SolPrecioProd">
        <complexType>
          <all><element name="productoId" type="decimal"/></all>
        </complexType>
      </element>
      <element name="PrecioProd">
        <complexType>
          <all><element name="precio" type="float"/></all>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="InputGetPrecioProd">
    <part name="body" element="xsd1:SolPrecioProd"/>
  </message>
  <message name="OutputGetPrecioProd">
    <part name="body" element="xsd1:PrecioProd"/>
  </message>
  <portType name="PortTypePrecioProd">
    <operation name="GetPrecioProd">
      <input message="tns:InputGetPrecioProd"/>
      <output message="tns:OutputGetPrecioProd"/>
    </operation>
  </portType>
  <binding name="BindPrecioProdSoap" type="tns:PortTypePrecioProd">
    <soap:binding style="document"
        transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GetPrecioProd">
      <soap:operation soapAction="http://example.com/GetPrecioProd"/>
      <input><soap:body use="literal"/></input>
      <output><soap:body use="literal"/></output>
    </operation>
  </binding>
  <service name="ServPrecioProd">
    <documentation>Devuelve el precio de un producto.</documentation>
    <port name="PuertoPrecioProd" binding="tns:BindPrecioProdSoap">
      <soap:address location="http://example.com/precioprod"/>
    </port>
  </service>
</definitions>